PORT=5001
MONGODB_URI=mongodb://localhost:27017/taskbridge
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=noreply@taskbridge.com
FRONTEND_URL=http://localhost:3000

SUPERADMIN_FIRST_NAME=Super
SUPERADMIN_LAST_NAME=Admin
SUPERADMIN_USERNAME=taskbridge_admin
SUPERADMIN_EMAIL=admin@taskbridge.io
SUPERADMIN_PASSWORD=YourSecurePassword123!

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_actual_google_client_id_here
GOOGLE_CLIENT_SECRET=your_actual_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:5001/api/auth/google/callback
# GitHub OAuth Configuration
GITHUB_CLIENT_ID=your_actual_github_client_id_here
GITHUB_CLIENT_SECRET=your_actual_github_client_secret_here
GITHUB_REDIRECT_URI=http://localhost:5001/api/auth/github/callback

# Razorpay Credentials
RAZORPAY_KEY_ID=rzp_test_your_key_id_here
RAZORPAY_KEY_SECRET=your_key_secret_here
RAZORPAY_WEBHOOK_SECRET=your_key_secret_here
